body {
	margin: 0;
	padding: 0;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url("../images/vintage-concrete.png");
}

header {
	font-family: 'Georgia', Times, Times New Roman, serif;
	float: left;
	width: 300px;
	padding: 20px;
	margin-left: 100px;
	color: #ffffff;
	background: #4aaaa5;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: normal;
	padding: 10px;
	color: #ffffff;
	background: #4aaaa5;
	border: 1px solid #4aaaa5;
	font-size: medium;
	text-align: center;
	height: 17px;
}

h1:hover {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: normal;
	padding: 10px;
	color: #4aaaa5;
	background: #ffffff;
	border: 1px solid #4aaaa5;
	font-size: medium;
	text-align: center;
	height: 17px;
}

h2 {
	padding-bottom: 20px;
	color: #4aaaa5;
	border-bottom: 3px solid #dddddd;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h3 {		
	padding-bottom: 20px;
	color: #4aaaa5;
	border-bottom: 2px solid #dddddd;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

form {
	padding: 20px;
	color: #777777;
	width: 650px;
	float: left;
	background-color: #ffffff;
}

input[type=text], select {
    width: 100%;
    padding: 15px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
	width: 100%;
    height: 150px;
    padding: 15px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

input::placeholder {
	color: #C0C0C0;
}

input[type=submit] {
    background-color: #4aaaa5;
    border: 1px solid #4aaaa5;
    color: #ffffff;
    padding: 5px 10px;
    height: 30px;
    width: 85px;
    font-size: 15px
}

input[type=submit]:hover {
    background-color: #ffffff;
    border: 1px solid #4aaaa5;
    color: #4aaaa5;
    padding: 5px 10px;
    height: 30px;
    width: 85px;
    font-size: 15px
}

footer {
	position: fixed;
   	left: 0;
   	bottom: 0;
	border-top: 5px solid #4aaaa5;
	padding: 30px;
	height: 50px
	width: 100%;
	background-color: #666666;
	text-align: center;
	color: #ffffff;
	font-size: 7px;
}

.nav {
	text-decoration: none;
	color: #C0C0C0;
	padding-right: 20px;
	font-size: small;
}

.nav:hover {
	text-decoration: none;
	color: #808080;
	padding-right: 20px;
	font-size: small;
}

.link {
	float: left;
	padding: 0 5px;
	height: 50px;
	width: 50px;
}

.placeholder {
	height: 290px;
	width: 290px;
	margin: 15px;
	display: inline-grid;
}

.projectimg {
	width: 100%;
	display: block;
}

.clearfix {
	clear: both;
	overflow: auto;
	width: 100%
}

#portfolio {
	border-right: 2px solid #f7f4f4;
	border-left: 2px solid #f7f4f4;
	padding: 0 20px;
	margin-right: 20px;
}

#navgroup {
	float: left;
	margin: 30px 0 0 480px;
}

#linkgroup {
	margin-left: 30px;
}

#stackoverflow {
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
    }

#stackoverflow:hover .img-bottom {
	display: none;
}

#stackoverflow .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    }

#stackoverflow:hover .img-top {
    display: inline;
    }

#github{
	margin-left: 10px;
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
    }

#github:hover .img-bottom {
	display: none;
}

#github .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    }

#github:hover .img-top {
    display: inline;
    }

#linkedin {
	margin-left: 10px;
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
    }

#linkedin:hover .img-bottom {
	display: none;
}

#linkedin .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    }

#linkedin:hover .img-top {
    display: inline;
    }

#title {
	width: 100%;
	background-color: #ffffff;
	border-bottom: 3px solid #cccccc;
}

#main {
	margin-left: 80px;
	padding: 20px;
	color: #777777;
}

#info {
	width: 650px;
	float: left;
	background-color: #ffffff;
	border-color: #dddddd;
	padding: 0 20px;
	clear:both;
	overflow:auto;
}

#mypic {
	margin-right: 20px;
	float: left;
}

#projects {
	
}

#connect {
	padding: 0 20px;
	margin: 0 50px;
	float: left;
	background-color: #ffffff;
	border-color: #dddddd;
	text-align: center;
	width: 270px;
	height: 150px;
}